# Git
.git
.gitignore

# VS Code
.vs
.vscode

# Build outputs
**/bin
**/obj
**/out

# NuGet
**/packages
**/*.nupkg

# Test results
**/TestResults
**/*.trx

# Node
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Logs
**/logs
**/*.log

# Docker
**/Dockerfile*
**/docker-compose*
**/.dockerignore

# CI/CD
.github

# Infra
infra/

# IDE
*.suo
*.user
*.sln.docstates

# OS
Thumbs.db
.DS_Store

# Coverage
**/coverage
**/.coverage

# Misc
*.tgz
*.bak
*.tmp